/* General Reset not added */
/* Block: form-container */
* { box-sizing: border-box; }
.form-container {
    display:flex;
    flex-direction:column;
    padding: 1em;
    font-size:20px;
    margin: 10px;

}
.form-container__title{
    margin-bottom: 0px;

}
input {
    padding: 10px;
    font-size:inherit;
    border: 1px solid rgb(210, 209, 209);
    border-radius: 5px; 
    width:100%

}
.form-container__form{
    display:flex;
    flex-direction:column;
    gap: 10px;
    padding: 2em;
    /* border: 1px solid; */
    border-radius: 8px; 

}
.form-container__title {
    justify-content:center;
    align-items: center;
    padding:15px;
    font-size:24px;
    font-family: sans-serif;
    display: flex;
    gap: 10px; /* Space between elements */
    
}

.form-container__form--row {
    display:flex;
    gap:1em;

}

.form-container__form--check {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    /* border: 1px solid rgb(209, 13, 13); */
    input[type=checkbox]{
        margin-right: 0.5rem;
        height: 15px;
        width: 15px;
        min-width: 15px;
    }
    font-size: 12px;
    
}


p {font: "Arial Narrow" ;
    font-size: 12px;
    font-family: Arial Narrow;
color:grey}

.highlight { 
    font-size: 11px;
    background-color: rgb(77, 137, 206);
    color:white;
    padding:2px;
    border: 0px;
    border-radius: 2px; 
}
.term { color: rgb(128, 163, 202);

}
.button {
    display:flex;
    flex:1;
    padding: 10px;
    text-align: center;
    /* flex-direction: row;   by default is row, so can be commented out*/
    justify-content:space-between;
    gap:1em;
    padding: 2em;
}

.button--register{
    background-color: rgb(77, 137, 206);
    width: 100%;
    color:white;
    font-size: 20px;
    padding:10px;
    border: 0px;
    border-radius: 5px; 
}
.button--sign-in{
    background-color: rgb(65, 163, 117);
    width: 100%;
    color:white;
    font-size: 20px;
    padding:10px;
    border: 0px;
    border-radius: 5px; 
}
/* :hover
{box-shadow: 0 4px 8px}  */